@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "ST-Pro-Text";
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px; 
    margin-right: 15px;
}
.header__inf {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__inf p {
    margin: 0 12px;
    color: var(--color-1);
}
.header__inf img {
    width: 30px;
    height: 30px;
}
.header__menu img {
    width: 30px;
    height: 30px;
}
.texto1 {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 23px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 350px;
    height:150px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 7px 10px #b6b6b6;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.container-mini {
    width: 250px;
    height:130px;
    background-color: var(--color-2);
    margin-top: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.cerdito img {
    width: 120px;
    margin-left: 0;
    justify-content: center;
}
.texto p strong {
    margin-left: 30px;
    font-size: 18px;
    color: var(--color-1);
}
.texto p1 {
    margin-left: 2px;
    font-size: 14px;
    color: var(--color-3);
}
.equis img {
    width: 26px;
    margin-left: 170px;
}
.small-container {
    width: 100px;
    height: 25px;
    background-color: var(--color-2);
    border-radius: 40px;
    margin-top: 5px;
    margin-left: 47px;
}
.small-container p2 {
    font-size: 8px;
    text-align: center;
    color: white;
}