@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px; 
    margin-right: 15px;
}
.header__inf {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__inf p {
    margin: 0 12px;
    color: white;
}
.header__inf img {
    width: 30px;
    height: 30px;
}
.header__menu img {
    width: 30px;
    height: 30px;
}
.body {
    background: #120f60;
}
.saludo {
    display: grid;
    align-items: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.saludo strong {
    font-size: 35px;
    margin-bottom: 9px;
}
.saludo p {
    font-size: 35px;
}
.balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    gap: 10px;
}
.savings {
    display: flex;
    flex-direction: column;
}
.savings p {
    margin-left: 50px;
}
.assets {
    display: flex;
    flex-direction: column;
}
.big__text {
    font-size: 15px;
    margin-left: 10px;
}
.price {
    font-size: 15px;
    margin-left: 10px;
}
.line1 img {
    justify-content: left;
    width: 200px;
    height: 12px;
    margin-left: 50px;
}
.line2 img {
    justify-content: right;
    width: 200px;
    height: 12px;
    margin-right: 50px;
}
.container {
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 27px;
}
.transaccion__info p {
    margin: 15px 12px;
    color: var(--color-1);
    font-size: 25px;
}
.container__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}   
.container__title {
    margin-left: 16px;
    margin-top: 0px;
    color: var(--color-1);
    font-size: 25px;
}
.container1, .container2, .container3 {
    width: 250px;
    height:170px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 7px 10px #b6b6b6;
}
.container1:hover, .container2:hover, .container3:hover{
    transition: all 0.8s ease;
    background: var(--color-2);
}
.container1 img, .container2 img, .container3 img {
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 26px;
}
.container1 p, .container2 p, .container3 p {
    font-size: 18px;
    color: var(--color-1);
}
.Image2 {
    width: 30px;
    margin-right: 100px;
    margin-left: 0;
}
.transaccion {
    display: flex;
    flex-direction: row;
    margin-left: 17px;
}
.trans__text {
    display: flex;
    flex-direction: column;
}
.small__text {
    margin-left: 13px;
    margin-top: 0;
}
.footer__ul {
    display: flex;
    flex-direction: row;
    background: var(--color-1);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}
.footer__ul img {
    width: 50px;
}
.body {
    background-color: var(--color-1);
    background-image: url(../Storage/Img/background1.svg);
}
.footer__ul{
    background: var(--color-1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer__ul li{
    list-style: none;
    background: var(--color-1);
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
}   